.editForm{
    width:400px;
    height:600px;
    border:2px solid rgb(65, 147, 136);
    visibility: hidden;
    position: absolute;
    z-index: 999;
    opacity: 1;
    overflow: hidden;
    background-color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 10px;
}
/*.editLabel{
    visibility: hidden;
    overflow: hidden;
    z-index: 999;
    opacity: 1;
}*/
.open{
    visibility: visible;
    opacity: 1;
}

.editInput .close{
    color:#5d5d5d;
    text-align: center;
    line-height: 20px;
    border:1px solid    #5d5d5d;
    border-radius: 50%;
    float: right;
    padding-top: 0px;
    margin-right: 10px;
    font-size: 12px;
}
.editInput .close:hover{
    cursor:pointer;
}

/* 美化navigation */
.mdl-navigation__link{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.mdl-navigation__link:hover{
    background-color: #1ABC9C;
}

.mdl-layout__drawer-button{
    border-radius: 25px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.mdl-layout__drawer-button:hover {
    background-color: #1ABC9C;
    color: white;
}

.mdl-textfield textarea.mdl-textfield__input{
    display: inline-block;
}

.mdl-data-table tbody tr{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/* 解决表格hover时的问题 */
.mdl-data-table tbody tr:hover{
    background-color: rgba(238, 238, 238, 0.7);
}

.mdl-navigation .material-icons{
    padding-right: 20px;
    font-size: medium;
}

.mdl-grid .mdl-cell {
    padding: 10px;
}

.systemBox {
    font-size: 20px;
    background-color: #e17d9d;
    color: white;
}

.askBox {
    font-size: 20px;
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
}

.answerBox {
    font-size: 20px;
    background-color: #f7f7f9;
    width: 60%;
    margin: 0 auto;
}

.errorBox {
    color: red;
    width: 60%;
    margin: 0 auto;
}

/*  美化多行代码块   */
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*  美化行内代码块   */
p code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
