.editForm{
    width:400px;
    height:600px;
    border:2px solid rgb(65, 147, 136);
    visibility: hidden;
    position: absolute;
    z-index: 999;
    opacity: 1;
    overflow: hidden;
    background-color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 10px;
}
/*.editLabel{
    visibility: hidden;
    overflow: hidden;
    z-index: 999;
    opacity: 1;
}*/
.open{
    visibility: visible;
    opacity: 1;
}

.editInput .close{
    color:#5d5d5d;
    text-align: center;
    line-height: 20px;
    border:1px solid  #5d5d5d;
    border-radius: 50%;
    float: right;
    padding-top: 0px;
    margin-right: 10px;
    font-size: 12px;
}
.editInput .close:hover{
    cursor:pointer;
}

/* 美化navigation */
.mdl-navigation__link{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.mdl-navigation__link:hover{
    background-color: #1ABC9C;
}

.mdl-layout__drawer-button{
    border-radius: 25px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.mdl-layout__drawer-button:hover {
    background-color: #1ABC9C;
    color: white;
}

.mdl-textfield textarea.mdl-textfield__input{
    display: inline-block;
}

.mdl-data-table tbody tr{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/* 解决表格hover时的问题 */
.mdl-data-table tbody tr:hover{
    background-color: rgba(238, 238, 238, 0.7);
}
